
body {
   margin: 0px;
	overflow:hidden;
    background-color: #120E1C;

}

#gameDiv {
  position: absolute;
  top: 0px;
  z-index: -1;
}

#signDiv {
	position:relative;
	margin: 100px 0 0 -250px;
	top: 50%; 
	left: 50%;
}
